<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/styles/styles.css}">
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<title th:text="#{main.title}"></title>
</head>
<body onload="changeChart('chartIFrame', 'chartSelector');">
	<h1 th:text="#{main.title}"></h1>
	<p>
		<a th:href="${data.fileUrl}" th:text="${data.fileName}"></a>
		<span th:text="${'('+ data.fileSize + ')'}"></span>
	</p>

	<th:block th:switch="${data.status.name()}">
		<div th:case="'READY'">
			<table th:if="${!data.columns.isEmpty()}">
				<thead>
				<tr>
					<th>Column</th>
					<th>Type</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="column: ${data.columns}">
					<td th:text="${column.name}"></td>
					<td th:text="${column.type}"></td>
				</tr>
				</tbody>
			</table>
			<form method="POST" action="#" th:action="@{/dataverse-superset}">
				<input type="hidden" id="name" name="datasetName" th:value="${data.getName()}">
				<button type="submit">Import to Superset</button>
			</form>
		</div>

		<div th:case="'IN_PROGRESS'">
			<p>Import to Superset in progress... <button onClick="window.location.reload();">Refresh</button></p>
		</div>

		<div th:case="'COMPLETE'">

			<div th:if="${chartToUrl != null && chartToUrl.size() > 0}">
				Related charts:
				<select id="chartSelector" th:field="*{chartToUrl}" onchange="changeChart('chartIFrame', 'chartSelector');">
					<option th:each="entry : ${chartToUrl.entrySet()}" th:value="${@environment.getProperty('superset.uri') + entry.value + '&height=700px'}" th:text="${entry.key}"></option>
				</select>
				<button id="toggleEmbedChart" onclick="toggleEmbedCode('embedChart', 'toggleEmbedChart');">Embed chart</button>
				<p id="embedChart" class="embedCode" style="display:none;"></p>
				<iframe id="chartIFrame"></iframe>
			</div>

			<p>
				Dataset imported to superset!
				<a th:href="${@environment.getProperty('superset.uri') + 'superset/explore/table/' + data.datasetId}" target="_blank">Create a chart in Superset</a>
			</p>

			<div th:unless="${chartToUrl != null && chartToUrl.size() > 0}">
				<div>No related charts found</div>
			</div>

		</div>

		<div th:case="'ERROR'">
			<p>Import to Superset failed. Message: <span th:text="${data.error}"></span></p>
		</div>
	</th:block>
</body>
</html>